gradio==5.38.2

python-dotenv
groq
openai

langchain
langchain-core
langchain-community
langgraph
langgraph-checkpoint
langchain-huggingface
langchain-postgres
langchain-groq
huggingface_hub

sentence-transformers
transformers
torch

python-multipart

sqlalchemy
psycopg2-binary
pgvector

pypdf
python-docx
unstructured

beautifulsoup4
readability-lxml
requests
httpx
lxml

tavily-python>=0.5.0
accelerate
safetensors
mcp
aiohttp
tiktoken
GitPython
markdownify
pydantic
typing-extensions