gradio==5.38.2

python-dotenv
groq
openai

langchain
langchain-core
langchain-community
langgraph
langgraph-checkpoint
langchain-huggingface
langchain-postgres
langchain-groq
huggingface_hub

sentence-transformers
transformers
torch
python-multipart
sqlalchemy
psycopg2-binary
pgvector

pypdf
python-docx
unstructured

httpx
requests

mcp